<!DOCTYPE html>
<html>
<head>
    <title>Script Runner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Run Rebuy Script</h1>
        <div class="buttons">
            <button class="btn" onclick="startRebuy()">Run Rebuy Script</button>
        </div>
        <div class="progress">
            <h2>Job Status: <span id="job-status">Not Started</span></h2>
            <div id="progress-bar-container">
                <div id="progress-bar" style="width: 0%;"></div>
            </div>
            <h2>Progress: <span id="progress-percentage">0%</span></h2>
        </div>
        <div class="result">
            <h2>Download Result</h2>
            <a id="download-link" href="#" class="btn" style="display: none;">Download</a>
        </div>
    </div>

    <script>
        function startRebuy() {
            fetch('/start_rebuy', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(() => checkProgress());
        }

        function checkProgress() {
            fetch('/progress')
            .then(response => response.json())
            .then(data => {
                document.getElementById('progress-bar').style.width = data.progress + '%';
                document.getElementById('progress-percentage').innerText = data.progress + '%';
                if (data.progress === 100) {
                    document.getElementById('job-status').innerText = 'Completed';
                    document.getElementById('download-link').href = '/download/awin_feed_clean.csv';
                    document.getElementById('download-link').style.display = 'block';
                } else {
                    document.getElementById('job-status').innerText = 'In Progress';
                    setTimeout(checkProgress, 2000);  // Check progress every 2 seconds
                }
            });
        }
    </script>
</body>
</html>
