<!DOCTYPE html>
<html>
<head>
    <title>Script Runner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Run Scripts</h1>
        <div class="buttons">
            <button class="btn" onclick="submitJob('kleinanzeigen')">Run Kleinanzeigen Script</button>
            <button class="btn" onclick="submitJob('rebuy')">Run Rebuy Script</button>
            <button class="btn" onclick="submitJob('vinted')">Run Vinted Script</button>
        </div>
        <div class="progress">
            <h2>Job Status: <span id="job-status">{{ job_status }}</span></h2>
            <div id="progress-bar-container">
                <div id="progress-bar" style="width: {{ progress }}%;"></div>
            </div>
            <h2>Progress: <span id="progress-percentage">{{ progress }}%</span></h2>
        </div>
        <div class="result">
            <h2>Download Result</h2>
            <a id="download-link" href="#" class="btn">Download</a>
        </div>
    </div>

    <script>
        function submitJob(scriptName) {
            fetch('/submit_job', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: 'script_name=' + scriptName
            })
            .then(response => response.json())
            .then(() => checkResult());
        }

        function checkResult() {
            fetch('/get_result', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('job-status').innerText = data.status;
                document.getElementById('progress-bar').style.width = data.progress + '%';
                document.getElementById('progress-percentage').innerText = data.progress + '%';
                if (data.status === 'completed') {
                    document.getElementById('download-link').href = '/download/' + data.result;
                    document.getElementById('download-link').style.display = 'block';
                } else {
                    setTimeout(checkResult, 2000);  // Check progress every 2 seconds
                }
            });
        }
    </script>
</body>
</html>
